// Importation des normalisateurs CSS React.
@import "sanitize.css";
@import "sanitize.css/forms";
@import "sanitize.css/assets";
@import "sanitize.css/system-ui";
@import "sanitize.css/typography";
@import "sanitize.css/ui-monospace";
@import "sanitize.css/reduce-motion";

html
{
	// Ensemble des documents.
	min-width: 360px;
	font-family: "Roboto", sans-serif;
	text-rendering: optimizeSpeed;
	scroll-behavior: smooth;

	// Badge de Google reCAPTCHA.
	// 	Source : https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
	.grecaptcha-badge
	{
		display: none;
	}

	// Flou artistique sur les fenêtres modales.
	// 	Source : https://sweetalert2.github.io/recipe-gallery/blurred-backdrop.html
	.swal2-shown > [aria-hidden]
	{
		filter: blur(0.5rem);
		transition: filter 100ms;
	}
}