section#RoleSelection
{
	// Corps de la page.
	min-height: 100vh;
	text-align: center;

	> h1
	{
		// Titre de la page.
		color: rgb(63, 63, 63);
		margin: 2rem 0 3rem;
		font-size: 3rem;
		text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
	}

	> div
	{
		// Conteneur de la liste des rôles.
		margin: 0 5rem 4rem 5rem;
		display: flex;
		row-gap: 5rem;
		flex-wrap: wrap;
		column-gap: 2rem;
		justify-content: center;
	}

	> button
	{
		&:first-of-type
		{
			// Bouton de lancement de la partie.
			color: rgb(64, 169, 255);
			border: 1px solid rgb(139, 139, 139);
			cursor: pointer;
			margin: 0 0 4rem;
			font-size: 2.5rem;
			will-change: transform; // Correctif pour Chrome : https://stackoverflow.com/a/62403969
			border-radius: 0.25rem;
			background-color: white;
			transition-duration: 300ms;
			transition-property: color, filter, border-color, background-color, box-shadow;

			&:disabled
			{
				// Désactivation conditionnelle du bouton.
				cursor: not-allowed;
				filter: opacity(0.5);
			}

			&:hover
			{
				// Effet de survol du bouton.
				color: white;
				border-color: rgb(64, 169, 255);
				background-color: rgb(64, 169, 255);
			}

			&:active
			{
				// Effet de maintien du bouton.
				box-shadow: 0 0 0 0.25rem rgba(24, 144, 255, 0.2);
				border-color: rgb(64, 169, 255);
			}
		}

		&:last-of-type
		{
			// Bouton d'affichage/disparition des communications textuelles.
			color: transparent;
			right: 1rem;
			width: 5rem;
			margin: 0;
			bottom: 1rem;
			height: 5rem;
			position: fixed;
			border-radius: 50%;
			background-size: cover;
			background-color: lightsteelblue;
			background-image: url("../../public/assets/images/decorations/chat.webp");
			background-position: center;
			transition-duration: 300ms;
			transition-property: color, border-color, background-color, box-shadow;

			&:hover
			{
				// Effet de sélection du bouton.
				box-shadow: 0 0 0 0.25rem rgba(24, 144, 255, 0.2);
				border-color: rgb(64, 169, 255);
			}
		}
	}

	&::before
	{
		// Fond d'écran de la page.
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		filter: blur(0.5rem);
		content: "";
		z-index: -1;
		position: fixed;
		background-size: cover;
		background-image: url("../../public/assets/images/wallpapers/selection.webp");
		background-position: center;
	}
}