section#NotFound
{
	// Corps de la page.
	gap: 5rem;
	display: flex;
	min-height: 100vh;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	h1
	{
		// Code d'erreur.
		$black-strip: rgb(51, 51, 51);		// Couleur de la bande noire.
		$orange-strip: rgb(245, 154, 35);	// Couleur de la bande orange.

		color: white;
		margin: 0;
		padding: 0 1rem;
		font-size: 6rem;
		text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
		background-image: linear-gradient(45deg, $orange-strip 12.5%, $black-strip 12.5%, $black-strip 37.5%, $orange-strip 37.5%, $orange-strip 62.5%, $black-strip 62.5%, $black-strip 87.5%, $orange-strip 87.5%);
	}

	h2
	{
		// Description de l'erreur.
		@extend h1;
		font-size: 2rem;
	}

	a
	{
		// Lien de redirection.
		color: white;
		font-size: 1.5rem;
		text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
		text-decoration: none;

		&:hover
		{
			// Effet de sélection.
			@extend h1;
			font-size: 1.5rem;
		}
	}

	&::before
	{
		// Fond d'écran de la page
		inset: auto 0;
		width: 100%;
		height: 100%;
		filter: blur(0.5rem);
		content: "";
		z-index: -1;
		position: fixed;
		background-size: cover;
		background-image: url("../public/assets/images/wallpapers/notfound.webp");
		background-position: center;
	}
}