// Importation des normalisateurs CSS.
@import "sanitize.css/sanitize";
@import "sanitize.css/forms";
@import "sanitize.css/assets";
@import "sanitize.css/system-ui";
@import "sanitize.css/typography";
@import "sanitize.css/ui-monospace";
@import "sanitize.css/reduce-motion";

// Ensemble des pages.
html
{
	cursor: auto;
	min-width: 360px;
	scroll-behavior: smooth;
}

// Badge de Google reCAPTCHA.
// 	Source : https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
.grecaptcha-badge
{
	display: none;
}

// Flou artistique sur les fenêtres modales.
// 	Source : https://sweetalert2.github.io/recipe-gallery/blurred-backdrop.html
.swal2-shown > [aria-hidden]
{
	filter: blur(0.5rem);
	transition: filter 100ms;
}

// Animation de chargement (cercle rotatif et texte de transition).
// 	Source : https://web.dev/code-splitting-suspense/#suspending-multiple-components
span.loading
{
	// Texte de transition.
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	font-size: 3rem;
	font-weight: bold;
	align-items: center;
	text-transform: uppercase;
	justify-content: center;
}

div.loading
{
	// Conteneur du cercle rotatif de chargement.
	width: 4rem;
	height: 4rem;
	display: inline-block;
	margin-top: 1rem;

	&::after
	{
		// Animation du cercle rotatif de chargement.
		width: 4rem;
		height: 4rem;
		margin: 1px;
		border: 5px solid rgb(63, 63, 63);
		content: "";
		display: block;
		animation: loader 1.2s linear infinite;
		border-color: rgb(63, 63, 63) transparent rgb(63, 63, 63) transparent;
		border-radius: 50%;
	}
}

@keyframes loader
{
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}