table.GameRooms
{
	// Corps du tableau.
	display: block;
	overflow-y: auto;
	max-height: 45vh;
	margin-top: 1.25rem;
	border-collapse: collapse;

	thead
	{
		tr:first-of-type th
		{
			// Titre du tableau.
			color: white;
			padding: 1rem 0;
			font-size: 1.5rem;
			font-weight: normal;
			border-radius: 0.25rem 0.25rem 0 0;
			background-color: rgb(63, 63, 63);
		}

		tr:last-of-type th
		{
			// Catégories du tableau.
			color: white;
			padding: 1rem;
			font-weight: normal;
			background-color: rgb(63, 63, 63, 0.8);
		}
	}

	tbody tr
	{
		// Lignes du tableau.
		transition: background-color 300ms;
		background-color: lightgrey;

		td
		{
			// Contenu du tableau (partie en cours).
			color: rgb(63, 63, 63);
			padding: 1rem;

			&[colSpan = "4"]
			{
				// Contenu par défaut ou vide du tableau.
				height: 10rem;
				font-size: 1.25rem;
				border-radius: 0 0 0.25rem 0.25rem;
			}

			&:not(:last-of-type):first-child
			{
				// Arrondissement du coin gauche en bas dans la
				// 	première colonne du tableau.
				border-bottom-left-radius: 0.25rem;
			}

			&:last-of-type
			{
				// Dernière colonne du tableau.
				border-bottom-right-radius: 0.25rem;

				button
				{
					// Boutons pour rejoindre ou observer une partie.
					margin: auto;
					cursor: pointer;
					border: 1px solid rgb(139, 139, 139);
					display: block;
					padding: 0.25rem 0.5rem;
					border-radius: 0.25rem;
					background-color: white;
					transition-duration: 300ms;
					transition-property: color, border-color, box-shadow;

					&:last-of-type
					{
						// Marge supérieure du dernier bouton.
						margin-top: 0.5rem;
					}

					&:hover
					{
						// Effet de survol sur le bouton.
						color: rgb(64, 169, 255);
						border-color: rgb(64, 169, 255);
					}

					&:active
					{
						// Effet de maintien sur le bouton.
						color: rgb(64, 169, 255);
						outline: none;
						box-shadow: 0 0 0 0.25rem rgba(24, 144, 255, 0.2);
						border-color: rgb(64, 169, 255);
					}
				}
			}
		}

		&:hover
		{
			// Effet de survol sur une ligne du tableau.
			background-color: rgba(64, 169, 255, 0.2);
		}
	}
}