section#GameChat
{
	// Corps de la page.
	display: flex;
	text-align: left;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-end;
	background-color: whitesmoke;

	ul
	{
		// Liste des messages.
		margin: 0;
		height: 100%;
		padding: 0;
		overflow-y: scroll;
		list-style-type: none;

		> i
		{
			// Message de bienvenue.
			color: rgb(63, 63, 63);
			display: inline-block;
			padding-left: 0.25rem;
		}

		> li
		{
			// Message d'un joueur.
			padding: 0.5rem;
			display: block;

			&:nth-child(odd)
			{
				background: white;
			}
		}
	}

	form
	{
		// Formulaire de saisie.
		width: 100%;
		height: 3rem;
		display: flex;
		padding: 0.25rem;
		box-sizing: border-box;
		backdrop-filter: blur(10px);
		background-color: rgb(139, 139, 139);

		> input
		{
			// Champ de saisie.
			border: none;
			margin: 0.25rem;
			flex-grow: 1;
			border-radius: 0.25rem;
			background-color: whitesmoke;

			&:focus
			{
				// Suppression de l'effet de contour.
				outline: none;
			}
		}

		> button
		{
			// Bouton d'envoi.
			color: white;
			cursor: pointer;
			border: none;
			margin: 0.25rem;
			outline: none;
			padding: 0 1rem;
			border-radius: 3px;
			background-color: rgb(63, 63, 63);
			transition-duration: 300ms;
			transition-property: color, background-color;

			&:hover
			{
				// Effet de sélection.
				color: rgb(63, 63, 63);
				background-color: white;
			}
		}
	}
}