// Conteneur d'un rôle.
$colors: (1: royalblue, 2: limegreen, 3: gold, 4: black, 5: magenta, 6: red);

@each $indice, $color in $colors
{
	article.RoleCard:nth-of-type(#{ $indice })
	{
		// Corps d'un rôle.
		flex: 1 1 30%;
		padding: 0 1rem 0 1rem;
		position: relative;

		> img
		{
			// Image représentative d'un rôle.
			width: 5rem;
			height: 5rem;
			border: 0.25rem solid $color;
			border-radius: 50%;
		}

		> span
		{
			// Utilisateur jouant ce rôle.
			color: $color;
			font-size: 1.5rem;
			margin-left: 0.5rem;
			text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
		}

		> div
		{
			// Corps des informations.
			box-shadow: 0.2rem 0.2rem 0.2rem rgb(139, 139, 139);

			&:first-of-type
			{
				// Informations générales du rôle.
				border: 1rem solid $color;
				padding: 1rem;
				overflow-y: auto;
				background-color: whitesmoke;

				h2
				{
					// Nom du rôle.
					color: rgb(63, 63, 63);
					margin: 0;
					padding-bottom: 0.5rem;
					border-bottom: 1px solid rgb(139, 139, 139);
				}

				p
				{
					// Description du rôle.
					color: rgb(63, 63, 63);
				}

				span
				{
					// Budget à disposition pour le rôle.
					color: white;
					width: 4rem;
					height: 4rem;
					display: inline-block;
					font-size: 1.5rem;
					line-height: 4rem;
					border-radius: 50%;
					background-color: $color;
				}
			}

			&:nth-of-type(2)
			{
				// Sélection du rôle.
				color: whitesmoke;
				padding: 0.75rem;
				border-top: 1px solid whitesmoke;
				background-color: $color;

				input
				{
					// Bouton de sélection.
					width: 1.5rem;
					height: 1.25rem;
					outline: none;
				}

				label
				{
					// Texte du bouton.
					font-size: 1.5rem;
					margin-left: 0.25rem;
				}
			}

			&:last-of-type
			{
				// Prêt à jouer.
				display: none;
				box-shadow: none;
				margin-top: 1rem;

				label
				{
					// Texte du bouton.
					color: rgb(63, 63, 63);
					font-weight: bold;
					margin-left: 0.25rem;
				}
			}
		}
	}
}