body
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	padding-bottom: 3rem;
}

#form
{
	left: 0;
	right: 0;
	bottom: 0;
	height: 3rem;
	display: flex;
	padding: 0.25rem;
	position: fixed;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(10px);

	> button
	{
		color: rgb(255, 255, 255);
		border: none;
		margin: 0.25rem;
		outline: none;
		padding: 0 1rem;
		border-radius: 3px;
		background-color: rgb(51, 51, 51);
	}
}

#input
{
	border: none;
	margin: 0.25rem;
	padding: 0 1rem;
	flex-grow: 1;
	border-radius: 2rem;

	&:focus
	{
		outline: none;
	}
}

#messages
{
	margin: 0;
	padding: 0;
	list-style-type: none;

	> li
	{
		padding: 0.5rem 1rem;

		&:nth-child(odd)
		{
			background: rgb(239, 239, 239);
		}
	}
}